<div class="row starter-row">
  <div id="design-map"></div>
</div>
<div class="row">
  <div class="form-group">
    <label for="instructions">Instructions</label>
    <div class="controls">
      To generate a new redistricting proposal, supply thirteen points on the map
      above. The thirteen points will be used to generate a district map where each
      district is centered on each point that you selected.
    </div>
  </div>

  <div class="alert alert-danger" role="alert" [hidden]="!error">{{ error }}</div>

  <form (ngSubmit)="onSubmit()" #form="ngForm">
    <div class="form-group">
      <label for="name">Name</label>
      <div class="controls">
        <input type="text" id="name" [(ngModel)]="model.name" name="name" #name="ngModel" class="form-control" placeholder="description" required>
        <div [hidden]="name.valid" role="alert" class="alert alert-danger">Name is required</div>
      </div>
    </div>
    <div class="form-group">
      <label for="notes">Notes</label>
      <div class="controls">
        <textarea id="notes" [(ngModel)]="model.notes" name="notes" class="form-control" rows="3"></textarea>
      </div>
    </div>
    <div class="form-group">
      <div class="controls">
        <button type="submit" class="btn btn-default" [disabled]="!form.form.valid || error">Generate Districts</button>
      </div>
    </div>
  </form>
</div>
